In [24]:
import pandas as pd
import numpy as np
import os, sys
os.chdir('/home/phyto-2/CASCADE/')  # Provide your path here

sys.path.insert(0, './cascade/')
from post import gridded_datasets, merge_literature_datasets, split_resampled_cellular_dataset, cellular_dataset_table

try: #make new dir if needed
    os.makedirs("./data/Zenodo/resampled_cellular_datasets/")
except:
    None
try: #make new dir if needed
    os.makedirs("./data/Zenodo/gridded_datasets/")
except:
    None
try: #make new dir if needed
    os.makedirs("./data/Zenodo/concatenated_literature_datasets/")
except:
    None
try: #make new dir if needed
    os.makedirs("./data/Zenodo/species_lists/")
except:
    None
try: #make new dir if needed
    os.makedirs("./data/Zenodo/classification/")
except:
    None

In [2]:
from distutils.dir_util import copy_tree
copy_tree("./data/classification", "./data/Zenodo/classification/")

['./data/Zenodo/classification/synonyms.yml',
 './data/Zenodo/classification/phases.yml',
 './data/Zenodo/classification/family.yml']

In [3]:
m = cellular_dataset_table(d = pd.read_csv("./data/output/cellular_dataset.csv"))
d = m.concat_estimates()
d.to_csv("./data/Zenodo/resampled_cellular_datasets/summary_table.csv", index=False)

In [4]:
d = pd.read_csv("./data/output/counts.csv")

rare = d[d['count']<20]
common = d[d['count']>=20]

rare.to_csv("./data/Zenodo/species_lists/rare_species.csv", index=False)
common.to_csv("./data/Zenodo/species_lists/common_species.csv", index=False)

In [5]:
m = gridded_datasets(abundances_path ="./data/output/gridded_abundances.csv",
              carbon_path = "./data/output/cellular_dataset.csv",
              export_path="./data/Zenodo/gridded_datasets/")

In [28]:
d = pd.read_csv("./data/output/ungridded_abundances.csv")
d = pd.melt(d, id_vars=['Latitude', 'Longitude', 'Depth', 'Month', 'Year', 'Day', 'Reference', 'Method'], 
            value_name='cells L-1', var_name="Species")
d.set_index(['Latitude', 'Longitude', 'Depth', 'Month', 'Year', 'Day', 'Reference', 'Method'])
d.dropna(inplace=True)
d.to_csv("./data/Zenodo/concatenated_literature_datasets/literature_abundances.csv", index=False)


print("number of studies: ", len(d['Reference'].unique()))


print("number of observations:")
print(len(d))

id_vars = ['Latitude', 'Longitude', 'Depth', 'Month', 'Year', 'Day']
print("number of sample locations:")
print(len(d[id_vars].drop_duplicates()))

print("most recent year: ", np.max(d['Year']))
print("oldest year: ", np.min(d['Year']))

      Latitude  Longitude  Depth  Month  Year   Day               Reference  \
0     -63.6900  -169.0700  100.0     12  2010   1.0  Saavedra-Pellitero2014
1     -63.2928   175.1865    3.0      1  2005   5.0          Malinverno2015
2     -62.9800   -63.3900    5.0      2  2009  18.0    Charalampopoulou2016
3     -62.9057   172.1225    3.0      1  2005   5.0          Malinverno2015
4     -62.7800   -63.7000   10.0      2  2009  17.0    Charalampopoulou2016
...        ...        ...    ...    ...   ...   ...                     ...
6022   79.7200     8.8300    1.0      8  2008   3.0    Charalampopoulou2011
6023   80.2800    22.3100    2.0      8  2008  16.0    Charalampopoulou2011
6024   80.2800    22.3100   12.0      8  2008  16.0    Charalampopoulou2011
6025   80.3600    16.2800    2.0      8  2008  10.0    Charalampopoulou2011
6026   80.8100    19.2000    2.0      8  2008   6.0    Charalampopoulou2011

     Method  Acanthoica acanthifera HET  Acanthoica acanthos HET  ...  \
0       SEM                         NaN                      NaN  ...
1       SEM                         NaN                      NaN  ...
2       SEM                         NaN                      NaN  ...
3       SEM                         NaN                      NaN  ...
4       SEM                         NaN                      NaN  ...
...     ...                         ...                      ...  ...
6022    SEM                         NaN                      NaN  ...
6023    SEM                         NaN                      NaN  ...
6024    SEM                         NaN                      NaN  ...
6025    SEM                         NaN                      NaN  ...
6026    SEM                         NaN                      NaN  ...

      Umbilicosphaera anulus HET  Umbilicosphaera foliosa HET  \
0                            NaN                          NaN
1                            NaN                          NaN
2                            NaN                          NaN
3                            NaN                          NaN
4                            NaN                          NaN
...                          ...                          ...
6022                         NaN                          NaN
6023                         NaN                          NaN
6024                         NaN                          NaN
6025                         NaN                          NaN
6026                         NaN                          NaN

      Umbilicosphaera hulburtiana HET  Umbilicosphaera sibogae HET  \
0                                 NaN                          NaN
1                                 NaN                          NaN
2                                 NaN                          NaN
3                                 NaN                          NaN
4                                 NaN                          NaN
...                               ...                          ...
6022                              NaN                          NaN
6023                              NaN                          NaN
6024                              NaN                          NaN
6025                              NaN                          NaN
6026                              NaN                          NaN

      Vexillarius cancellifer HET  Vexillarius iaculifer HET  \
0                             NaN                        NaN
1                             NaN                        NaN
2                             NaN                        NaN
3                             NaN                        NaN
4                             NaN                        NaN
...                           ...                        ...
6022                          NaN                        NaN
6023                          NaN                        NaN
6024                          NaN                        NaN
6025                          NaN                        NaN
6026                          NaN                        NaN

      Wigwamma antarctica HET  Wigwamma triradiata HET  \
0                         NaN                      NaN
1                         NaN                      NaN
2                       500.0                      NaN
3                         NaN                      NaN
4                       500.0                      NaN
...                       ...                      ...
6022                      NaN                      NaN
6023                      NaN                      NaN
6024                      NaN                      NaN
6025                      NaN                      NaN
6026                      NaN                      NaN

      Zygosphaera amoena HOL  Zygosphaera marsilii HOL
0                        NaN                       NaN
1                        NaN                       NaN
2                        NaN                       NaN
3                        NaN                       NaN
4                        NaN                       NaN
...                      ...                       ...
6022                     NaN                       NaN
6023                     NaN                       NaN
6024                     NaN                       NaN
6025                     NaN                       NaN
6026                     NaN                       NaN

[6027 rows x 234 columns]
number of studies:  61
number of observations:
41713
number of sample locations:
6016
most recent year:  2019
oldest year:  1964

In [7]:
d = pd.read_csv("./data/output/gridded_abundances.csv")

id_vars = ['Latitude', 'Longitude', 'Depth', 'Month', 'Year']
d = pd.melt(d, id_vars=id_vars, 
            value_name='cells L-1', var_name="Species")
d.dropna(inplace=True)
d.to_csv("./data/Zenodo/gridded_datasets/gridded_abundances.csv", index=False)

print("number of observations:")
print(len(d))

print("number of sample locations:")
print(len(d[id_vars].drop_duplicates()))

number of observations:
31875
number of sample locations:
4157

In [8]:
merge_literature_datasets(pic_path = "./data/pic/", 
                          poc_path = "./data/poc/",
                          size_path ="./data/sizes/", 
                          export_path ="./data/Zenodo/concatenated_literature_datasets/")

finished merging literature datasets
exported to: ./data/Zenodo/concatenated_literature_datasets/

In [9]:
split_resampled_cellular_dataset(data_path = "./data/output/cellular_dataset.csv", 
                                     export_path = "./data/Zenodo/resampled_cellular_datasets/")